body {
  background-color: #1f1f1f;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 32px;
}

h1,
h2 {
  background: -webkit-linear-gradient(#dcfffd, #4fb477);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p,
button {
  color: #52ffee;
}

button {
  background: #3f6634;
  border: none;
  padding: 10px;
}

button:hover {
  transform: scale(1.05);
}

.mining {
  background: transparent;
}

.container {
  text-align: center;
}
